html {
    height: 100%;
}
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
}

.slide{
    width: 90%;
    height: 600px;
    background: linear-gradient(-90deg, rgb(220,220,220), rgba(240,240,240,0.2));
    margin: 20px auto;
    display: flex;
    position: relative;
}
/*FIRST SLIDE*/
.first-slide{
    overflow: hidden;
}
#letter{
    position: relative;
    z-index: 10;
    top: 0px;
    max-height: 100%;
}
header{
    position: absolute;
    z-index: 120;
    top: 0px;
    left: 0px;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.burger{
    width: 5%;
    vertical-align: middle;
    position: relative;
    right: 35px;
    top: 25px;
    cursor: pointer;
}

.dropdown label{
    position: absolute;
    right: 80px;
    top: 10px;
    margin-right: 7px;
    margin-top: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    user-select: none;
}
.dropdown-content{
    display: none;
    background-color: rgb(186, 182, 182);
    min-width: 50px;
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    top: 60px;
    right: 12px;
}
.dropdown-content a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 5px;
    border-top: 1px solid black;
    user-select: none;
    text-align: center;
}
.dropdown-content a:hover{
    background-color:rgb(176, 172, 172);
}
.line{
    width: 30px;
    border: 2px solid black;
    background-color: black;
    margin-bottom: 5px; 
}
#line1{
    width: 32px;
    border: 1px solid black;
    height: 1px;
}
svg{
    position:absolute;
    z-index: 0;
    max-height: 100%;
    min-height: 100%;
    opacity: 0.1;
}
.content{
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

}
h1{
    font-family: 'Inconsolata', monospace;;
    font-style: normal;
    font-size: 45px;
}
.text{
    padding-left: 80px;
    padding-top: 100px;
    width: 40%;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-size: 20px;
}
.pic{
    display: flex;
    padding-left: 80px;
    height: 100%;
    width: 60%;
    overflow: hidden;
}
/*SECOND-SLIDE*/
.second-slide picture{
    object-fit: contain;
    z-index: 2;
    margin-top: 40px;
    margin-left: 20px;
}

.content-container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    justify-content: space-around;
    align-content: center;
}

.content-container * {
    margin: 0px;
}
.second-slide h2{
    width: 80%;
    min-width: 80%;
    align-self: center;
    font-size: 40px;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}
.second-slide h2:before {
    content: "";
    position: relative;
    bottom: 12px;
    left: 0px;
    background-color: black;
    height: 1px;
    width: 70px;
    display: inline-block;
    clear: both;

}
.second-slide span{
    font-weight: lighter;
}
.second-slide p{
    width: 80%;
    max-width: 80%;
    min-width: 80%;
    align-self: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    
}

.social-media-icons{
    text-align: center;
}
.icon:hover{
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(199, 199, 199);
    cursor: pointer;
}

.my-slides{
    display: none;
    height: 100%;
    width: 100%;
}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    z-index: 3;
    display: flex;
    font-size: 25px;
    top: 45%;
    padding: 20px;
    margin: 0 20px 0 20px;
    width: 20px;
    height: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    background-color: #fff;
    user-select: none;
}
.next{
    right: 0;
}
.prev:hover, .next:hover{
    animation: growBox .5s;
    animation-fill-mode: forwards;
}
.third-slide .my-slides{
    position: absolute;
    z-index: 1;
    max-height: 100%;
    min-height: 100%;
}

.fourth-slide{
    flex-direction: row;
    align-items: center;
}
.fourth-slide span{
    font-weight: lighter;
}
.fourth-slide-img{
    height: 80%;
    width: 70%;
    padding-right: 70px;
}
.fourth-slide-text{
    height: 70%;
    width: 30%;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 60px;
    padding-top: 140px; 
}
/*FIFTH SLIDE*/
.slider{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
/* .slide1{
    position: absolute;
    z-index: 1;
    height: 40%;
    left: 80px;
}
.slide2{
    position: absolute;
    z-index: 2;
    height: 60%;

}
.slide3{
    position: absolute;
    z-index: 1;
    height: 40%;
    right: 80px;
}
.slide4{
    display: none;
} */

/*
SRDJANOVO ZA BRISANJE

*/

.slider img:first-child {
    position: absolute;
    z-index: 1;
    height: 40%;
    left: 80px;
    background: red;
}

.slider img:nth-child(2) {
    position: absolute;
    z-index: 2;
    height: 60%;
}

.slider img:nth-child(3) {
    position: absolute;
    z-index: 1;
    height: 40%;
    right: 80px;
}

.slider img:nth-child(4) {
    display: none;
}
/*SIXTH SLIDE*/

.sixth-slide{
    flex-direction: column;
}
.sixth-slide-content{
    z-index: 2;
}
.sixth-slide-content h1{
    margin-top: 40px;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}
.sixth-slide-content span{
    font-weight: lighter;
}
.sixth-slide-content p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 0 30px;
    margin-bottom: 70px;
}
.input{
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
}
.email-and-subject{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
    width: 100%;
}
#email, #subject{
    width:48%; 
    padding: 0px;
    margin: 0px 0px 10px 0px;
    height: 35px; 
    background-color: transparent;
}

#message{
    width: 100%;
    height: 100px;
    background-color: transparent;
    padding: 0px;
    resize: none;
    margin-bottom: 20px;
}
#send-message-button{
    height: 30px;
    width: 100%;
    background-color: #111;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
@media only screen and (max-width: 1024px) {
    .second-slide picture {
        display: none;
    }
    .fourth-slide-img{
        display: none;
    }
    .fourth-slide-text{
        width: 90%;
    }
}

@media only screen and (max-width: 780px){
    .email-and-subject{
        flex-direction: column;
        justify-content: center;
    }
   #email, #subject{
       width: 100%;
   } 

}

@keyframes growBox {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

@keyframes fade{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}