html {
    height: 100%;
}
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
}

.slide{
    width: 90%;
    height: 600px;
    background: linear-gradient(-90deg, rgb(220,220,220), rgba(240,240,240,0.2));
    margin: 20px auto;
    display: flex;
    position: relative;
}
.first-slide{
    overflow: hidden;
}
#letter{
    position: relative;
    z-index: 10;
    top: 0px;
    max-height: 100%;
}
header{
    position: absolute;
    z-index: 120;
    top: 0px;
    left: 0px;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header label {
    margin-right: 7px;
    margin-top: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.burger{
    width: 5%;
    margin-top: 5px;
    padding: 10px;
    vertical-align: middle;
}

.line{
    width: 30px;
    border: 2px solid black;
    background-color: black;
    margin-bottom: 5px; 
}
#line1{
    width: 32px;
    border: 1px solid black;
    height: 1px;
}
svg{
    position:absolute;
    z-index: 0;
    max-height: 100%;
    min-height: 100%;
    opacity: 0.1;
}
.content{
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

}
h1{
    font-family: 'Inconsolata', monospace;;
    font-style: normal;
    font-size: 45px;
}
.text{
    padding-left: 80px;
    padding-top: 100px;
    width: 40%;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-size: 20px;
}
.pic{
    display: flex;
    padding-left: 80px;
    height: 100%;
    width: 60%;
    overflow: hidden;
}

.second-slide picture{
    object-fit: contain;
    z-index: 2;
    margin-top: 40px;
    margin-left: 20px;
}

.content-container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    justify-content: space-around;
    align-content: center;
}

.content-container * {
    margin: 0px;
}
.second-slide h2{
    width: 80%;
    min-width: 80%;
    align-self: center;
    font-size: 40px;
    text-align: center;
    font-family: 'Inconsolata', monospace;;
}
.second-slide h2:before {
    content: "";
    position: relative;
    bottom: 12px;
    left: 0px;
    background-color: black;
    height: 1px;
    width: 70px;
    display: inline-block;
    clear: both;

}
.second-slide span{
    font-weight: lighter;
}
.second-slide p{
    width: 80%;
    max-width: 80%;
    min-width: 80%;
    align-self: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    
}

.social-media-icons{
    text-align: center;
}
.icon:hover{
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(199, 199, 199);
    cursor: pointer;
}

.my-slides{
    display: none;
    height: 100%;
    width: 100%;
}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    z-index: 3;
    display: flex;
    font-size: 25px;
    top: 45%;
    padding: 20px;
    margin: 0 20px 0 20px;
    width: 20px;
    height: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    background-color: #fff;
    user-select: none;
}
.next{
    right: 0;
}
.prev:hover, .next:hover{
    animation: growBox .5s;
    animation-fill-mode: forwards;
}
.third-slide .my-slides{
    position: absolute;
    z-index: 1;
    max-height: 100%;
    min-height: 100%;
}

.fourth-slide{
    flex-direction: row;
    align-items: center;
}
.fourth-slide span{
    font-weight: lighter;
}
.fourth-slide-img{
    height: 70%;
    width: 50%;
    right: 70px;
    top: 80px;
}
.fourth-slide-text{
    left: 70px;
    top: 150px;
    width: auto;
    height: 70%;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

@media only screen and (max-width: 1024px) {
    .second-slide picture {
        display: none;
    }
}
@media only screen and (max-width: 900px){
    .fourth-slide-img{
        display: none;
    }
}

@keyframes growBox {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.33);
    }
}

@keyframes fade{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}